.fontline {
    font-family: 'Parisienne', cursive;
    font-size: 80px;
    color: rgb(0, 0, 102);
}

.jumbo-color {
    background-color: rgb(230, 230, 255);
}

.fontline1 {
    font-family: 'Parisienne', cursive;
}